* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

h2 {
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul {
  list-style: square;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: black;
  border: none;
  border-top: 4px solid black;
  color: #f7f7f7;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  background-color: initial;
  color: black;
}

.container {
  border: 5px solid black;
  margin: 50px auto;
  width: 825px;
  position: relative;
}

.row {
  display: flex;
  gap: 40px;
}

.row-info {
  flex: 1;
  margin-top: 20px;
}

.row-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.shipping-info {
  color: #777777;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.sale-label {
  background-color: #ec302f;
  color: #fff4f5;
  font-size: 12px;
  font-weight: bold;
  left: -38px;
  letter-spacing: 3px;
  padding: 7px 15px;
  position: absolute;
  text-transform: uppercase;
  top: -17px;
}

.product-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:active,
.more-info:hover {
  text-decoration: none;
}

.product-color {
  margin-top: 30px;
}

.product-color span {
  margin-right: 10px;
}
.color1 {
  background-color: #000;
  padding: 1px 11px;
}

.color2 {
  background-color: #2f6ee1;
  padding: 1px 11px;
}

.color3 {
  background-color: #ec302f;
  padding: 1px 11px;
}

.color4 {
  background-color: #efbf1e;
  padding: 1px 11px;
}

.color5 {
  background-color: #90cb1f;
  padding: 1px 11px;
}

.color6 {
  background-color: #875214;
  padding: 1px 11px;
}

.row-details {
  flex: 1;
  margin-top: 20px;
}
